<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InsertUser</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        function insertData(){
            var newAcc =$('#newAcc').val();
            var newPw =$('#newPw').val();
            console.log("aaa")
            fetch("/UserData/UserInsert",
            {
            headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
            },
            method: 'PUT',
            body: JSON.stringify({ "newAcc": newAcc, "newPw": newPw})
            })
              .then(function(response) {
                return response;
              })
              .then(function(myJson) {
                console.log(myJson);

              });
        }

        function gotoSearch(){
            var newAcc =$('#newAcc').val();
            var newPw =$('#newPw').val();
              fetch("/UserData/Check?"+ new URLSearchParams({
                Account: newAcc,
                password:newPw}))
              .then(function(response) {
                console.log(response)
                if(response.status === 200){
                    return response.text();
                }
              }).then(function(response) {
                if (response === "Susscess"){
                    let link = "/UserProfile?"
                    var searchParams = new URLSearchParams([
                    ['Account', newAcc],
                    ['Password', newPw],
                    ]);

                    link = link+searchParams
                    window.location.href = link
                }else {
                    document.getElementById("alert_msg").innerHTML = response
                }
              })
        }
    </script>
</head>
<body>
    <p>Welcome to the Insert System</p>
    <div>
        <label>Account</label>
        <input id = "newAcc" name="newAcc" type="text">
    </div>
    <div>
        <label>Password</label>
        <input id = "newPw" name="newPw" type="text">
    </div>
    <button type="submit" id = "sub_btn" name = "sub_btn" onclick="insertData()">Submit</button>
    <button onclick="gotoSearch()" id="SearchPage">CHECK</button>
    <div>
        <p id="alert_msg" >{alert_msg}</p>
    </div>
</body>
</html>